header{
    display: grid;
    background-color: #797979;
    height: 127px; 
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
h1{
    font-size: 60px;
    width: 280px;
    margin: auto;
    margin-left: 10px;
    font-family: "Kings";
    font-weight: 100;
}
header img{
    height: 107px;
    margin: auto;
    margin-right: 10px;
}
.whyus{

    width: 375px;
    background-color: #D9D9D9;
    height: 112px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
.whyus h2{
    font-size: 1.5em;
}
main{
    align-items: center;
}
.usbc{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: 7px;
}
.usbm{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: 7px;
}
.Approved{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}
.img1{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 53px;
    margin: auto;
}
.img2{
    width: 53px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
}
.atc{
    width: 59px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
    padding-top: 40px;
}
.atc1{
    width: 59px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
    padding-top: 40px;
}
.ps5{
    width: 375px;
    background-color: #D9D9D9;
    height: 112px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 50% 50%;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
.psimg img{
    margin-top: 60px;
    width: 185px;
    height: 119px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.ps5text{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}
.atc4 img{
    width: 124px;
    height: 35px;
}
.atc4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.p450{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.xbox{
    width: 375px;
    background-color: #D9D9D9;
    height: 112px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 50% 50%;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
.xboximg img{
    margin-top: 75px;
    margin-left: 15px;
    width: 149px;
    height: 116px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2; 
}
.xboxtext{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}
.atc3 img{
    width: 124px;
    height: 35px;
}
.atc3{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.p650{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.wii{
    width: 375px;
    background-color: #D9D9D9;
    height: 112px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 50% 50%;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
.wiiimg img{
    margin-top: 60px;
    width: 105px;
    height: 105px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 40px;
}
.wiitext{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}
.atc5 img{
    width: 124px;
    height: 35px;
}
.atc5{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.p100{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}